<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/vehicles.css">

  <title>Vehiculos</title>
</head>

<body>

  <!-- Preloader -->
  <%- include('partials/preloader') %>


  <%- include('partials/header') %>

    <div class="container-fluid mt-2" id="contenedor">
      <div class="row">
        <!-- Filtros -->
        <div class="col-lg-2 mt-5">
          <div class="apartado-formulario row mt-3 mb-3 filtros">
            <div class="col-12">

              <p class="titulo-filtros">Filtros</p>

              <div class="fromulario form-group">
                <label for="tipoVehiculo">Tipo de vehículo</label>
                <% if (array && array.length> 0) { %>
                  <% const types=Array.from(new Set(array.map(car=> car.type))); %>
                    <% types.forEach(type=> { %>
                      <div class="check">
                        <input type="checkbox" name="type" id="Vehiculo" value="<%= type %>">
                        <label for="tipoVehiculo">
                          <%= type %>
                        </label>
                      </div>
                  <% }); %>
                <% } %>
              </div>


              <div class="fromulario form-group">
                <label for="personas">Cantidad de personas</label>
                <% if (array && array.length> 0) { %>
                  <% const passengers=Array.from(new Set(array.map(car=> car.passengers))); %>
                    <% passengers.forEach(passenger=> { %>
                      <div class="check">
                        <input type="checkbox" name="passengers" id="cantidadPersonasVehiculo" value="<%= passenger %>">
                        <label for="cantidadPersonasVehiculo">
                          <%= passenger %>+
                        </label>
                      </div>
                      <% }); %>
                        <% } %>
              </div>

              <div class="fromulario form-group">
                <label for="puertas">Cantidad de puertas</label>
                <% if (array && array.length> 0) { %>
                  <% const doors=Array.from(new Set(array.map(car=> car.doors))); %>
                    <% doors.forEach(door=> { %>
                      <div class="check">
                        <input type="checkbox" name="doors" id="cantidadPuertasVehiculo" value="<%= door %>">
                        <label for="cantidadPuertas">
                          <%= door %>+
                        </label>
                      </div>
                      <% }); %>
                        <% } %>
              </div>

              <div class="fromulario form-group">
                <label for="transmision">Transmisión</label>
                <% if (array && array.length> 0) { %>
                  <% const transmissions=Array.from(new Set(array.map(car=> car.transmission))); %>
                    <% transmissions.forEach(transmission=> { %>
                      <div class="check">
                        <input type="checkbox" name="transmission" id="transmisionVehiculo" value="<%= transmission %>">
                        <label for="transmisionVehiculo">
                          <%= transmission %>
                        </label>
                      </div>
                      <% }); %>
                        <% } %>
              </div>

            </div>
          </div>
        </div>

        <!-- Autos -->
        <div class="col-lg-9 col-md-12 col-sm-12 ">
          <p class="titulo-auto text-center mt-5">Autos disponibles</p>
          <% if (array && array.length> 0) { %>
            <div class="row vehiculos">
              <% array.forEach(function(car) { %>
                <div class="col-lg-4 col-md-8 col-sm-12 mb-3 d-flex justify-content-center align-items-center ">
                  <div class="card" style="width: 18rem;" data-transmission="<%= car.transmission %>"
                    data-passengers="<%= car.passengers %>" data-doors="<%= car.doors %>" data-type="<%= car.type %>">
                    <img src="<%= car.image %>" class="card-img-top" alt="<%= car.brand %> <%= car.model %>">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= car.brand %>
                          <%= car.model %>
                      </h5>
                      <div class="detalles">
                        <div class="info">
                          <img src="/img/Icono_usuario.png" class="iconos" alt="..." height="20px" width="auto">
                          <p>
                            <%= car.passengers %>
                          </p>
                        </div>
                        <div class="info">
                          <img src="/img/icono_puerta.png" class="iconos" alt="..." height="20px" width="auto">
                          <p>
                            <%= car.doors %>
                          </p>
                        </div>
                        <div class="info">
                          <img src="/img/icono_marchas.png" class="iconos" alt="..." height="20px" width="auto">
                          <p>
                            <%= car.transmission %>
                          </p>
                        </div>
                        <br>
                      </div>
                      <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#carModal<%= car.id %>">Ver detalles</a>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="carModal<%= car.id %>" tabindex="-1"
                  aria-labelledby="carModalLabel<%= car.id %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="carModalLabel<%= car.id %>">
                          <%= car.brand %>
                            <%= car.model %>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <img src="<%= car.image %>" class="card-img-top" alt="<%= car.brand %> <%= car.model %>"
                          height="200px" width="auto">
                        <p>Marca: <%= car.brand %>
                        </p>
                        <p>Modelo: <%= car.model %>
                        </p>
                        <p>Año: <%= car.year %>
                        </p>
                        <p>Pasajeros: <%= car.passengers %>
                        </p>
                        <p>Puertas: <%= car.doors %>
                        </p>
                        <p>Transmisión: <%= car.transmission %>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
            </div>
            <% } else { %>
              <p>No hay vehículos disponibles.</p>
              <% } %>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Evento de cambio en los checkboxes de filtro
        document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
          checkbox.addEventListener('change', function () {
            filtrarAutos();
          });
        });

        // Función para filtrar los autos
        function filtrarAutos() {
          const checkboxes = document.querySelectorAll('input[type="checkbox"]');
          const cars = document.querySelectorAll('.vehiculos .card');

          cars.forEach(function (car) {
            let mostrar = true;
            checkboxes.forEach(function (checkbox) {
              if (checkbox.checked) {
                const key = checkbox.name;
                const value = checkbox.value;
                if (car.dataset[key] !== value) {
                  mostrar = false;
                }
              }
            });

            if (mostrar) {
              car.style.display = 'block';
            } else {
              car.style.display = 'none';
            }
          });
        }
      });
    </script>
</body>

</html>