<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Admin oficinas - RentEasy</title>
</head>
<body>
    <style>

        .office {
            margin-top: 20px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        
        .office table {
            width: 100%;
            border-collapse: collapse;
        }

        .office table thead {
            background-color: #0f3973;
            color: white;
        }

        .office table th,
        .office table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .office table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .office table tbody tr:hover {
            background-color: #f1f1f1;
        }

        .office table td a {
            margin: 0 5px;
        }

        .office table td a i {
            font-size: 1.5rem;
        }

        .office table td a.btn-edit {
            color: #0f3973;
        }

        .office table td a.btn-delete {
            color: #ff0000;
        }

        .office table td a.btn-edit:hover, .office table td a.btn-delete:hover {
            color: #000;
        }

        .office table td a.btn-edit:hover i, .office table td a.btn-delete:hover i {
            color: #0f3973;
        }

        .office table td a.btn-edit:hover, .office table td a.btn-delete:hover {
            color: #000;
        }

        .office table td a.btn-edit:hover i, .office table td a.btn-delete:hover i {
            color: #0f3973;
        }
        
    </style>
    <%-  include('../partials/sidebar') %>
        <section id="content">
            <%- include('../partials/admin-nav') %>
                <main>
                    <div class="notification-box flex flex-col items-center justify-center fixed w-full z-50 p-3">
                        <!-- Notification container -->
                    </div>
                    
                    <div class="head-title">
                        <div class="left">
                            <h1>Oficinas</h1>
                            <ul class="breadcrumb
                            ">
                                <li>
                                    <a href="#">Panel de Control</a>
                                </li>
                                <li><i class='bx bx-chevron-right'></i></li>
                                <li>
                                    <a class="active" href="#">Oficinas</a>
                                </li>
                            </ul>
                        </div>
                        <a href="/admin/new-office" class="btn-download">
                            <i class='bx bxs-plus-circle'></i>
                            <span class="text">Agregar oficina</span>
                        </a>
                    </div>

                    <div class="table-data office">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Hora de apertura</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% offices.forEach(office=> { %>
                                    <tr>
                                        <td>
                                            <%= office.name %>
                                        </td>
                                        <td>
                                            <%= office.address %>
                                        </td>
                                        <td>
                                            <%= office.opening_time %>
                                        </td>
                                        <td>
                                            <a href="/admin/update-office/<%= office.id %>" class="btn-edit">
                                                <i class='bx bx-pencil'></i>
                                            </a>
                                            <a href="/admin/delete-office/<%= office.id %>" class="btn-delete">
                                                <i class='bx bx-trash'></i>
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </main>
        </section>
        <script src="../js/dashboard.js"></script>
        <script>
            // Le ponemos la clase active al link del sidebar que corresponde a la página actual
            const liElements = document.querySelectorAll('.side-menu li');

            // Quitamos la clase active de todos los elementos
            liElements.forEach(li => {
                li.classList.remove('active');
                li.querySelector('a').classList.remove('active');
            });

            liElements[2].classList.add('active');
            liElements[2].querySelector('a').classList.add('active');
            
        </script>
</body>
</html>