<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Oficina: <%= office.name %> - RentEasy</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #007bff;
            color: white;
            padding: 1rem;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .form {
            margin: 1rem 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            width: 50%;
            border-radius: 0.25rem;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .form-input {
            display: flex;
            flex-direction: column;
            width: 95%;
            border-radius: 0.25rem;
            padding: 1rem;
        }

        .form-element {
            display: flex;
            flex-direction: column;
        }

        /* Quitamos los elementos deshabilitados */
        .form-element.hide {
            display: none;
        }

        .form-element label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .form-element input {
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid #ccc;
        }

        .form-element input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        .form-element input[type="submit"]:hover {
            background-color: #0056b3;
        }

        #map {
            width: 60%;
            height: 470px;
            margin: 1rem 1rem 0 0;
            border-radius: 0.25rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

    </style>
    <header>
        <h1>Editando Oficina: <%= office.name %></h1>
    </header>

    <form action="/admin/edit-office/<%= office.id %>" method="post" class="form-container">
        <div class="form">
            <div class="form-input form-element">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" value="<%= office.name %>" required>
            </div>
            <div class="form-input form-element">
                <label for="address">Dirección</label>
                <input type="text" name="address" id="address" value="<%= office.address %>" required>
            </div>
            <div class="form-input form-element">
                <label for="phone">Teléfono</label>
                <input type="text" name="phone" id="phone" value="<%= office.phone %>" required>
            </div>
            <div class="form-input form-element">
                <label for="opening_time">Hora de apertura</label>
                <input type="time" name="opening_time" id="opening_time" value="<%= office.opening_time %>" required>
            </div>
            <div class="form-input form-element hide">
                <input type="hidden" name="latitude" id="latitude" value="<%= office.latitude %>" required>
            </div>
            <div class="form-input form-element hide">
                <input type="hidden" name="longitude" id="longitude" value="<%= office.longitude %>" required>
            </div>
            <div class="form-input form-element">
                <input type="submit" value="Guardar oficina">
            </div>
        </div>
        <div id="map" style="height: 470px;"></div>
    </form>
    
    <a href="/admin/offices">Volver</a>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);
        var marker = L.marker([51.505, -0.09]).addTo(map);

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var latlng = L.latLng(position.coords.latitude, position.coords.longitude);
                map.setView(latlng);
                marker.setLatLng(latlng);
                $('#latitude').val(position.coords.latitude);
                console.log(position.coords.latitude);
                $('#longitude').val(position.coords.longitude);
                console.log(position.coords.longitude);
            });
        }

        map.on('click', function (e) {
            $('#latitude').val(e.latlng.lat);
            console.log(e.latlng.lat);
            $('#longitude').val(e.latlng.lng);
            console.log(e.latlng.lng);

            // Actualiza la posición del marcador
            marker.setLatLng(e.latlng);

            // Actualiza el campo de búsqueda
            $.get('https://nominatim.openstreetmap.org/reverse', {
                format: 'json',
                lat: e.latlng.lat,
                lon: e.latlng.lng
            }, function (data) {
                // Divide la dirección en partes
                var addressParts = data.display_name.split(',');

                // Toma solo las primeras 2 partes de la dirección
                var shortAddress = addressParts.slice(0, 2).join(',');

                // Establece el nombre de la ubicación en el campo respectivo
                $('#name').val(shortAddress);

                $('#address').val(data.display_name);
            });
        });

        $("#address").autocomplete({
            source: function (request, response) {
                $.get('https://nominatim.openstreetmap.org/search', {
                    format: 'json',
                    q: request.term
                }, function (data) {
                    response($.map(data, function (item) {
                        console.log(item);
                        return {
                            label: item.display_name,
                            value: item.display_name,
                            lat: item.lat,
                            lon: item.lon
                        };
                    }));
                });
            },
            select: function (event, ui) {
                $('#latitude').val(ui.item.lat);
                $('#longitude').val(ui.item.lon);

                // Divide la dirección en partes
                var addressParts = ui.item.value.split(',');

                // Toma solo las primeras 2 partes de la dirección
                var shortAddress = addressParts.slice(0, 2).join(',');

                // Establece el nombre de la ubicación en el campo respectivo
                $('#name').val(shortAddress);

                // Mueve el marcador a la ubicación seleccionada
                var latlng = L.latLng(ui.item.lat, ui.item.lon);
                console.log(latlng);
                map.setView(latlng);
                marker.setLatLng(latlng);
            }
        });
    </script>
</body>
</html>