<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/admin-vehicles.css">
    <title>Admin vehículos - RentEasy</title>
</head>

<body>
    <%-  include('../partials/sidebar') %>
        <section id="content">
            <%- include('../partials/admin-nav') %>
                <main>
                    <div class="notification-box flex flex-col items-center justify-center fixed w-full z-50 p-3">
                        <!-- Notification container -->
                    </div>
                    
                    <div class="head-title">
                        <div class="left">
                            <h1>Vehículos</h1>
                            <ul class="breadcrumb">
                                <li>
                                    <a href="#">Panel de Control</a>
                                </li>
                                <li><i class='bx bx-chevron-right'></i></li>
                                <li>
                                    <a class="active" href="#">Vehículos</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="btn-download">
                            <i class='bx bxs-cloud-download'></i>
                            <span class="text">Descargar PDF</span>
                        </a>
                        <a href="/admin/new-vehicle" class="btn-download">
                            <i class='bx bxs-plus-circle'></i>
                            <span class="text">Agregar vehículo</span>
                        </a>
                    </div>

                    <div class="table-data">
                        <table>
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Precio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% vehicles.forEach(vehicle=> { %>
                                    <tr>
                                        <td>
                                            <img src="../<%= vehicle.image %>"
                                                alt="<%= vehicle.brand %> <%= vehicle.model %>">
                                        </td>
                                        <td>
                                            <%= vehicle.brand %>
                                        </td>
                                        <td>
                                            <%= vehicle.model %>
                                        </td>
                                        <td>
                                            <%= Number(vehicle.price).toLocaleString('es-CO', { style: 'currency' ,
                                                currency: 'COP' }) %>
                                        </td>
                                        <td>
                                            <a href="/admin/edit-vehicle/<%= vehicle.id%>" class="btn-edit" title="Editar">
                                                <i class='bx bx-edit'></i>
                                            </a>
                                            <a href="/admin/delete-vehicle/<%= vehicle.id %>" class="btn-delete"
                                                title="Eliminar">
                                                <i class='bx bx-trash'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </main>
        </section>
        <script src="../js/dashboard.js"></script>

        <script>
            // Le agregamos la clase active al enlace del sidebar
            const link = document.querySelector('.side-menu a[href="/admin/vehicles"]');
            link.classList.add('active');

            // Notificaciones

            // Si en la url viene ?deleted=true, mostramos una notificación de éxito
            const urlParams = new URLSearchParams(window.location.search);
            const deleted = urlParams.get('deleted');
            if (deleted) {
                sendNotification("success", "Vehículo eliminado correctamente");
            }

            // Si en la url viene ?updated=false, mostramos una notificación de error
            const updated = urlParams.get('deleted');
            if (deleted === 'false') {
                sendNotification("error", "No se pudo actualizar el vehículo");
            }
    
            function sendNotification(type, text) {

            }
        </script>
</body>

</html>